input
    padding: 0px
    margin: 0px
    border: 0px
    border-bottom: 1px solid gray
body, #root, .App
    min-height: 100vh
    position: relative
    .boringLink
        text-decoration: none
        text-underline: none
        color: black
        &.white
            color: white !important
        &:hover
            text-decoration: underline
    .App-header
        position: fixed
        top: 0px
        width: calc(100vw - 30px)
        height: 50px
        background-color: #282c34c9
        display: flex
        align-items: center
        justify-content: space-between
        font-size: calc(10px + 2vmin)
        color: white
        padding: 0px 15px
        z-index: 99
        #userHeader
            display: flex
            align-items: center
            #user
                padding-right: 10px
                font-size: 1rem
    #content
        min-height: calc(100vh - 250px)
        padding-bottom: 175px
        padding-top: 75px
        max-width: 750px
        margin: auto
        display: flex
        position: relative
        #wrapper
            text-align: center
            max-width: 50vw
            margin: auto
            .floating-btn
                cursor: pointer
                position: absolute
                bottom: 165px
                z-index: 98
                border-radius: 150px
                display: flex
                justify-content: center
                align-items: center
            #new-wish-btn
                right: 15px
                background-color: #089708
                height: 55px
                width: 55px
                filter: drop-shadow(0 0 0.75rem #089708)
            #edit-list-btn
                right: 75px
                background-color: #d1881a
                height: 25px
                width: 25px
                filter: drop-shadow(0 0 0.75rem #d1881a)
            #close-list-btn
                right: 75px
                background-color: #b12525
                height: 25px
                width: 25px
                filter: drop-shadow(0 0 0.75rem #b12525)
    footer
        background-color: #CCCCCC
        position: absolute
        bottom: 0px
        width: 100vw
        height: 150px
        display: flex
        align-items: center
        justify-content: center
        #poem
            font-size: 0.8rem
            display: inline-block
            width: 230px
            max-width: 100%
            text-align: center
            #author
                color: gray
                display: block
                text-align: right