input {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
}

body, #root, .App {
  min-height: 100vh;
  position: relative;
}

body .boringLink, #root .boringLink, .App .boringLink {
  text-decoration: none;
  text-underline: none;
  color: black;
}

body .boringLink.white, #root .boringLink.white, .App .boringLink.white {
  color: white !important;
}

body .boringLink:hover, #root .boringLink:hover, .App .boringLink:hover {
  text-decoration: underline;
}

body .App-header, #root .App-header, .App .App-header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #282c34c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 15px;
  z-index: 99;
}

body .App-header #userHeader, #root .App-header #userHeader, .App .App-header #userHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .App-header #userHeader #user, #root .App-header #userHeader #user, .App .App-header #userHeader #user {
  padding-right: 10px;
  font-size: 1rem;
}

body .App-header #userHeader #header-btn-wrapper, #root .App-header #userHeader #header-btn-wrapper, .App .App-header #userHeader #header-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .App-header #userHeader #header-btn-wrapper .btn:first-child, #root .App-header #userHeader #header-btn-wrapper .btn:first-child, .App .App-header #userHeader #header-btn-wrapper .btn:first-child {
  margin-right: 10px;
}

body #content, #root #content, .App #content {
  min-height: calc(100vh - 250px);
  padding-bottom: 175px;
  padding-top: 75px;
  max-width: 750px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body #content #wrapper, #root #content #wrapper, .App #content #wrapper {
  text-align: center;
  max-width: 50vw;
  margin: auto;
}

body #content #wrapper .floating-btn, #root #content #wrapper .floating-btn, .App #content #wrapper .floating-btn {
  cursor: pointer;
  position: absolute;
  bottom: 165px;
  z-index: 98;
  border-radius: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #wrapper #new-wish-btn, #root #content #wrapper #new-wish-btn, .App #content #wrapper #new-wish-btn {
  right: 15px;
  background-color: #089708;
  height: 55px;
  width: 55px;
  -webkit-filter: drop-shadow(0 0 0.75rem #089708);
          filter: drop-shadow(0 0 0.75rem #089708);
}

body #content #wrapper #edit-list-btn, #root #content #wrapper #edit-list-btn, .App #content #wrapper #edit-list-btn {
  right: 75px;
  background-color: #d1881a;
  height: 25px;
  width: 25px;
  -webkit-filter: drop-shadow(0 0 0.75rem #d1881a);
          filter: drop-shadow(0 0 0.75rem #d1881a);
}

body #content #wrapper #close-list-btn, #root #content #wrapper #close-list-btn, .App #content #wrapper #close-list-btn {
  right: 75px;
  background-color: #b12525;
  height: 25px;
  width: 25px;
  -webkit-filter: drop-shadow(0 0 0.75rem #b12525);
          filter: drop-shadow(0 0 0.75rem #b12525);
}

body #content #wrapper .modal-wrapper, #root #content #wrapper .modal-wrapper, .App #content #wrapper .modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffffbf;
  left: 0;
  top: 0;
  z-index: 98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #wrapper .modal-wrapper .modal-inner-wrapper, #root #content #wrapper .modal-wrapper .modal-inner-wrapper, .App #content #wrapper .modal-wrapper .modal-inner-wrapper {
  overflow: hidden;
  border: 1px solid black;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
}

body #content #wrapper .modal-wrapper .modal-inner-wrapper .title, #root #content #wrapper .modal-wrapper .modal-inner-wrapper .title, .App #content #wrapper .modal-wrapper .modal-inner-wrapper .title {
  text-align: left;
}

body #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons, #root #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons, .App #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons button, #root #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons button, .App #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons button {
  margin-left: 5px;
}

body #content #wrapper .product-box, #root #content #wrapper .product-box, .App #content #wrapper .product-box {
  position: relative;
  max-width: 100%;
  width: 600px;
  height: 95px;
  overflow: hidden;
  border-bottom: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

body #content #wrapper .product-box .remove-wish-wrapper, #root #content #wrapper .product-box .remove-wish-wrapper, .App #content #wrapper .product-box .remove-wish-wrapper {
  position: absolute;
  padding: 5px;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

body #content #wrapper .product-box .remove-wish-wrapper .remove-wish-btn, #root #content #wrapper .product-box .remove-wish-wrapper .remove-wish-btn, .App #content #wrapper .product-box .remove-wish-wrapper .remove-wish-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #wrapper .product-box .remove-wish-wrapper .remove-wish-btn .remove-wish-text, #root #content #wrapper .product-box .remove-wish-wrapper .remove-wish-btn .remove-wish-text, .App #content #wrapper .product-box .remove-wish-wrapper .remove-wish-btn .remove-wish-text {
  display: inline-block;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-left: 3px;
}

body #content #wrapper .product-box .remove-wish-wrapper:hover .remove-wish-text, #root #content #wrapper .product-box .remove-wish-wrapper:hover .remove-wish-text, .App #content #wrapper .product-box .remove-wish-wrapper:hover .remove-wish-text {
  width: 56px;
}

body #content #wrapper .product-box:first-child, #root #content #wrapper .product-box:first-child, .App #content #wrapper .product-box:first-child {
  border-top: 1px solid black;
}

body #content #wrapper .product-box .left-content, #root #content #wrapper .product-box .left-content, .App #content #wrapper .product-box .left-content {
  background-size: cover;
  height: 95px;
  background-position: center;
  position: relative;
}

body #content #wrapper .product-box .left-content .new-image-url, #root #content #wrapper .product-box .left-content .new-image-url, .App #content #wrapper .product-box .left-content .new-image-url {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
}

body #content #wrapper .product-box .right-content, #root #content #wrapper .product-box .right-content, .App #content #wrapper .product-box .right-content {
  padding: 10px;
  height: 75px;
  position: relative;
}

body #content #wrapper .product-box .right-content .title, #root #content #wrapper .product-box .right-content .title, .App #content #wrapper .product-box .right-content .title {
  font-weight: bold;
}

body #content #wrapper .product-box .right-content .new-title-wrapper, #root #content #wrapper .product-box .right-content .new-title-wrapper, .App #content #wrapper .product-box .right-content .new-title-wrapper {
  width: 100%;
}

body #content #wrapper .product-box .right-content .new-title-wrapper .new-title, #root #content #wrapper .product-box .right-content .new-title-wrapper .new-title, .App #content #wrapper .product-box .right-content .new-title-wrapper .new-title {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

body #content #wrapper .product-box .right-content .new-url-wrapper, #root #content #wrapper .product-box .right-content .new-url-wrapper, .App #content #wrapper .product-box .right-content .new-url-wrapper {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 3fr;
      grid-template-columns: 7fr 3fr;
}

body #content #wrapper .product-box .right-content .price, #root #content #wrapper .product-box .right-content .price, .App #content #wrapper .product-box .right-content .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15px;
  padding-bottom: 15px;
}

body #content #wrapper .product-box .right-content .price a, #root #content #wrapper .product-box .right-content .price a, .App #content #wrapper .product-box .right-content .price a {
  color: white;
}

body #content #wrapper .product-box .right-content .footer, #root #content #wrapper .product-box .right-content .footer, .App #content #wrapper .product-box .right-content .footer {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  bottom: 10px;
  width: calc(100% - 20px);
}

body #content #wrapper .product-box .right-content .footer .rightBtn, #root #content #wrapper .product-box .right-content .footer .rightBtn, .App #content #wrapper .product-box .right-content .footer .rightBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

body footer, #root footer, .App footer {
  background-color: #CCCCCC;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer #poem, #root footer #poem, .App footer #poem {
  font-size: 0.8rem;
  display: inline-block;
  width: 230px;
  max-width: 100%;
  text-align: center;
}

body footer #poem #author, #root footer #poem #author, .App footer #poem #author {
  color: gray;
  display: block;
  text-align: right;
}
/*# sourceMappingURL=main.css.map */