.product-box
    position: relative
    max-width: 100%
    width: 600px
    height: 95px
    overflow: hidden
    border-bottom: 1px solid black
    display: grid
    grid-template-columns: 1fr 2fr
    .remove-wish-wrapper
        position: absolute
        padding: 5px
        bottom: 5px
        right: 5px
        cursor: pointer
        .remove-wish-btn
            display: flex
            justify-content: center
            align-items: center
            .remove-wish-text
                display: inline-block
                width: 0px
                overflow: hidden
                white-space: nowrap
                transition: all 0.5s ease-in-out
                margin-left: 3px
        &:hover
            .remove-wish-text
                width: 56px
            
    &:first-child
        border-top: 1px solid black
    input
        padding: 0px
        margin: 0px
        border: 0px
        border-bottom: 1px solid gray
    .left-content
        background-size: cover
        height: 95px
        background-position: center
        position: relative
        .new-image-url
            position: absolute
            bottom: 10px
            left: 0
            width: 100%
    .right-content
        padding: 10px
        height: 75px
        position: relative
        .title
            font-weight: bold
        .new-title-wrapper
            width: 100%
            .new-title
                width: 100%
                border: 0px
                border-bottom: 1px solid gray
                margin-bottom: 5px
        .new-url-wrapper
            width: 100%
            display: grid
            grid-template-columns: 7fr 3fr
        .price
            display: flex
            justify-content: flex-end
            padding-right: 15px
            padding-bottom: 15px
            a
                color: white
        .footer
            position: absolute
            display: grid
            column-gap: 10px
            grid-template-columns: 1fr 1fr 1fr
            bottom: 10px
            width: calc(100% - 20px)
            .footer-space
            .rightBtn
                display: flex
                justify-content: right
