input {
  padding: 0px;
  margin: 0px;
  border: 0px;
  border-bottom: 1px solid gray;
}

body, #root, .App {
  min-height: 100vh;
  position: relative;
}

body .boringLink, #root .boringLink, .App .boringLink {
  text-decoration: none;
  text-underline: none;
  color: black;
}

body .boringLink.white, #root .boringLink.white, .App .boringLink.white {
  color: white !important;
}

body .boringLink:hover, #root .boringLink:hover, .App .boringLink:hover {
  text-decoration: underline;
}

body .App-header, #root .App-header, .App .App-header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: #282c34c9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 15px;
  z-index: 99;
}

body .App-header #userHeader, #root .App-header #userHeader, .App .App-header #userHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .App-header #userHeader #user, #root .App-header #userHeader #user, .App .App-header #userHeader #user {
  padding-right: 10px;
  font-size: 1rem;
}

body .App-header #userHeader #header-btn-wrapper, #root .App-header #userHeader #header-btn-wrapper, .App .App-header #userHeader #header-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .App-header #userHeader #header-btn-wrapper .btn:first-child, #root .App-header #userHeader #header-btn-wrapper .btn:first-child, .App .App-header #userHeader #header-btn-wrapper .btn:first-child {
  margin-right: 10px;
}

body #content, #root #content, .App #content {
  min-height: calc(100vh - 150px);
  padding-bottom: 55px;
  padding-top: 50px;
  max-width: 750px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

body #content #wrapper, #root #content #wrapper, .App #content #wrapper {
  text-align: center;
  margin: auto;
  width: 100%;
}

body #content #wrapper .modal-wrapper, #root #content #wrapper .modal-wrapper, .App #content #wrapper .modal-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffffbf;
  left: 0;
  top: 0;
  z-index: 98;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #wrapper .modal-wrapper .modal-inner-wrapper, #root #content #wrapper .modal-wrapper .modal-inner-wrapper, .App #content #wrapper .modal-wrapper .modal-inner-wrapper {
  overflow: hidden;
  border: 1px solid black;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
}

body #content #wrapper .modal-wrapper .modal-inner-wrapper .title, #root #content #wrapper .modal-wrapper .modal-inner-wrapper .title, .App #content #wrapper .modal-wrapper .modal-inner-wrapper .title {
  text-align: left;
}

body #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons, #root #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons, .App #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons button, #root #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons button, .App #content #wrapper .modal-wrapper .modal-inner-wrapper .modal-buttons button {
  margin-left: 5px;
}

body #content #wrapper .product-box .product-box-wrapper, #root #content #wrapper .product-box .product-box-wrapper, .App #content #wrapper .product-box .product-box-wrapper {
  position: relative;
  width: 100%;
  height: 95px;
  overflow: hidden;
  border-bottom: 1px solid black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 1fr;
      grid-template-columns: 33% 1fr;
}

body #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper, #root #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper, .App #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper {
  position: absolute;
  padding: 5px;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

body #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper .remove-wish-btn, #root #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper .remove-wish-btn, .App #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper .remove-wish-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper .remove-wish-btn .remove-wish-text, #root #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper .remove-wish-btn .remove-wish-text, .App #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper .remove-wish-btn .remove-wish-text {
  display: inline-block;
  width: 0px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-left: 3px;
}

body #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper:hover .remove-wish-text, #root #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper:hover .remove-wish-text, .App #content #wrapper .product-box .product-box-wrapper .remove-wish-wrapper:hover .remove-wish-text {
  width: 56px;
}

body #content #wrapper .product-box .product-box-wrapper:first-child, #root #content #wrapper .product-box .product-box-wrapper:first-child, .App #content #wrapper .product-box .product-box-wrapper:first-child {
  border-top: 1px solid black;
}

body #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner, #root #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner, .App #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner {
  width: 100%;
  height: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 1fr;
      grid-template-columns: 30px 1fr;
  padding: 0px;
  margin-bottom: 5px;
  border-bottom: 1px solid #0dcaf0;
}

body #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner.single, #root #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner.single, .App #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner.single {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

body #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner:last-child, #root #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner:last-child, .App #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner:last-child {
  margin-bottom: 0px;
}

body #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner .new-image-url, #root #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner .new-image-url, .App #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner .new-image-url {
  width: 100%;
}

body #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner input, #root #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner input, .App #content #wrapper .product-box .product-box-wrapper .input-wrapper-inner input {
  padding: 0px 10px;
  border-bottom: 0px;
}

body #content #wrapper .product-box .product-box-wrapper .left-content, #root #content #wrapper .product-box .product-box-wrapper .left-content, .App #content #wrapper .product-box .product-box-wrapper .left-content {
  background-size: cover;
  height: 100%;
  background-position: center;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-size: 100%;
}

body #content #wrapper .product-box .product-box-wrapper .left-content:hover, #root #content #wrapper .product-box .product-box-wrapper .left-content:hover, .App #content #wrapper .product-box .product-box-wrapper .left-content:hover {
  background-size: 115%;
}

body #content #wrapper .product-box .product-box-wrapper .left-content .image-input-wrapper, #root #content #wrapper .product-box .product-box-wrapper .left-content .image-input-wrapper, .App #content #wrapper .product-box .product-box-wrapper .left-content .image-input-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 10px;
}

body #content #wrapper .product-box .product-box-wrapper .right-content, #root #content #wrapper .product-box .product-box-wrapper .right-content, .App #content #wrapper .product-box .product-box-wrapper .right-content {
  padding: 10px;
  position: relative;
  text-align: left;
}

body #content #wrapper .product-box .product-box-wrapper .right-content .title, #root #content #wrapper .product-box .product-box-wrapper .right-content .title, .App #content #wrapper .product-box .product-box-wrapper .right-content .title {
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  overflow: hidden;
  position: absolute;
  width: calc( 100% - 40px);
}

body #content #wrapper .product-box .product-box-wrapper .right-content .favIcon, #root #content #wrapper .product-box .product-box-wrapper .right-content .favIcon, .App #content #wrapper .product-box .product-box-wrapper .right-content .favIcon {
  background-size: contain;
  background-position: center;
}

body #content #wrapper .product-box .product-box-wrapper .right-content .footer, #root #content #wrapper .product-box .product-box-wrapper .right-content .footer, .App #content #wrapper .product-box .product-box-wrapper .right-content .footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

body #content #wrapper .product-box .product-box-wrapper .right-content .footer .icon-wrapper, #root #content #wrapper .product-box .product-box-wrapper .right-content .footer .icon-wrapper, .App #content #wrapper .product-box .product-box-wrapper .right-content .footer .icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body #content #wrapper .product-box .product-box-wrapper .right-content .footer .icon-wrapper .favIcon, #root #content #wrapper .product-box .product-box-wrapper .right-content .footer .icon-wrapper .favIcon, .App #content #wrapper .product-box .product-box-wrapper .right-content .footer .icon-wrapper .favIcon {
  height: 30px;
  width: 30px;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish, #root #content #wrapper .product-box .product-box-wrapper.new-wish, .App #content #wrapper .product-box .product-box-wrapper.new-wish {
  height: auto;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .new-title-wrapper, #root #content #wrapper .product-box .product-box-wrapper.new-wish .new-title-wrapper, .App #content #wrapper .product-box .product-box-wrapper.new-wish .new-title-wrapper {
  width: 100%;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .new-title-wrapper .new-title, #root #content #wrapper .product-box .product-box-wrapper.new-wish .new-title-wrapper .new-title, .App #content #wrapper .product-box .product-box-wrapper.new-wish .new-title-wrapper .new-title {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper, #root #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper, .App #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper .input-wrapper-inner:first-child, #root #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper .input-wrapper-inner:first-child, .App #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper .input-wrapper-inner:first-child {
  -ms-grid-columns: 30px 2fr 90px;
      grid-template-columns: 30px 2fr 90px;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper .input-wrapper-inner input, #root #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper .input-wrapper-inner input, .App #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper .input-wrapper-inner input {
  border-bottom: 0px;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper .input-wrapper-inner .btn, #root #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper .input-wrapper-inner .btn, .App #content #wrapper .product-box .product-box-wrapper.new-wish .new-url-wrapper .input-wrapper-inner .btn {
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .price, #root #content #wrapper .product-box .product-box-wrapper.new-wish .price, .App #content #wrapper .product-box .product-box-wrapper.new-wish .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 15px;
  padding-bottom: 15px;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .price a, #root #content #wrapper .product-box .product-box-wrapper.new-wish .price a, .App #content #wrapper .product-box .product-box-wrapper.new-wish .price a {
  color: white;
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .footer, #root #content #wrapper .product-box .product-box-wrapper.new-wish .footer, .App #content #wrapper .product-box .product-box-wrapper.new-wish .footer {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  bottom: 10px;
  width: calc(100% - 20px);
}

body #content #wrapper .product-box .product-box-wrapper.new-wish .footer .rightBtn, #root #content #wrapper .product-box .product-box-wrapper.new-wish .footer .rightBtn, .App #content #wrapper .product-box .product-box-wrapper.new-wish .footer .rightBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

body footer, #root footer, .App footer {
  background-color: #CCCCCC;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer #poem, #root footer #poem, .App footer #poem {
  font-size: 0.8rem;
  display: inline-block;
  width: 230px;
  max-width: 100%;
  text-align: center;
}

body footer #poem #author, #root footer #poem #author, .App footer #poem #author {
  color: gray;
  display: block;
  text-align: right;
}

#bottom-button-wrapper {
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 0px;
  height: 50px;
  background-color: green;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 90px;
      grid-template-columns: 1fr 90px;
}

#bottom-button-wrapper .bottom-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#bottom-button-wrapper .bottom-button#new-wish-btn {
  background-color: #089708;
}

#bottom-button-wrapper .bottom-button#edit-list-btn {
  background-color: #d1881a;
}

#bottom-button-wrapper .bottom-button#close-list-btn {
  background-color: #b12525;
}
/*# sourceMappingURL=main.css.map */