input
    padding: 0px
    margin: 0px
    border: 0px
    border-bottom: 1px solid gray
body, #root, .App
    min-height: 100vh
    position: relative
    .boringLink
        text-decoration: none
        color: black
        &.white
            color: white !important
        &:hover
            text-decoration: underline
    .App-header
        position: fixed
        top: 0px
        width: 100%
        height: 50px
        background-color: #282c34c9
        display: flex
        align-items: center
        justify-content: space-between
        font-size: calc(10px + 2vmin)
        color: white
        padding: 0px 15px
        z-index: 99
        #userHeader
            display: flex
            align-items: center
            #user
                padding-right: 10px
                font-size: 1rem
            #header-btn-wrapper
                display: flex
                .btn
                    &:first-child
                        margin-right: 10px
    #content
        min-height: calc(100vh - 150px)
        padding: 55px 15px 50px 15px
        max-width: 100%
        position: relative
        #wrapper
            text-align: center
            margin: auto
            width: 100%
            display: grid
            grid-template-rows: 50px 1fr
            #product-wrapper
                display: grid
                grid-gap: 25px
                grid-template-columns: repeat(auto-fit, 300px)
                height: 100%
                justify-content: center
            .modal-wrapper
                position: fixed
                width: 100%
                height: 100%
                background: #ffffffbf
                left: 0
                top: 0
                z-index: 98
                display: flex
                justify-content: center
                align-items: center
                .modal-inner-wrapper
                    overflow: hidden
                    border: 1px solid black
                    padding: 15px
                    display: flex
                    flex-direction: column
                    border-radius: 15px
                    .title
                        text-align: left
                    .modal-buttons
                        margin-top: 15px
                        display: flex
                        justify-content: flex-end
                        align-items: baseline
                        button
                            margin-left: 5px
            .product-box
                .product-box-wrapper
                    position: relative
                    width: 100%
                    height: 95px
                    overflow: hidden
                    border-bottom: 1px solid black
                    display: grid
                    grid-template-columns: 33% 1fr
                    .remove-wish-wrapper
                        position: absolute
                        padding: 5px
                        bottom: 5px
                        right: 5px
                        cursor: pointer
                        background-color: white
                        .remove-wish-btn
                            display: flex
                            justify-content: center
                            align-items: center
                            .remove-wish-text
                                display: inline-block
                                width: 0px
                                overflow: hidden
                                white-space: nowrap
                                transition: all 0.5s ease-in-out
                                margin-left: 3px
                        &:hover
                            .remove-wish-text
                                width: 56px
                            
                    &:first-child
                        border-top: 1px solid black
                    .input-wrapper-inner
                        width: 100%
                        height: 30px
                        display: grid
                        grid-template-columns: 30px 2fr 90px
                        padding: 0px
                        margin-bottom: 5px
                        border-bottom: 1px solid #0dcaf0
                        &.single
                            grid-template-columns: 1fr
                        &:last-child
                            margin-bottom: 0px
                        .new-image-url
                            width: 100%
                        input
                            padding: 0px 10px
                            border-bottom: 0px
                    .left-content
                        background-size: cover
                        height: 100%
                        background-position: center
                        position: relative
                        transition: all 0.2s ease-in-out
                        background-size: 100%
                        &:hover
                            background-size: 115%
                        .image-input-wrapper
                            height: 100%
                            display: flex
                            justify-content: center
                            align-items: flex-end
                            padding: 10px
                    .right-content
                        padding: 10px
                        position: relative
                        text-align: left
                        display: flex
                        flex-direction: column
                        justify-content: space-between
                        .title
                            font-size: 1rem
                            text-overflow: ellipsis
                            overflow: hidden
                            display: -webkit-box
                            -webkit-box-orient: vertical
                            -webkit-line-clamp: 2
                            line-clamp: 2
                            line-height: 1.1rem
                        .favIcon
                            background-size: contain
                            background-position: center
                            background-repeat: no-repeat
                        .footer
                            bottom: 10px
                            width: 100%
                            display: grid
                            grid-template-columns: repeat(3, 30px) 1fr
                            grid-gap: 5px
                            .favIcon
                                height: 30px
                                width: 30px
                    &.new-wish
                        height: auto
                        .new-title-wrapper
                            width: 100%
                            .new-title
                                width: 100%
                                border: 0px
                                border-bottom: 1px solid gray
                                margin-bottom: 5px
                        .new-url-wrapper
                            width: 100%
                            display: flex
                            flex-direction: column
                            .input-wrapper-inner
                                .favIcon
                                input
                                    border-bottom: 0px
                                        
                                .btn
                                    height: 29px
                                    display: flex
                                    margin: 0px
                                    padding: 0px
                                    align-items: center
                                    justify-content: center
                                    border-bottom-left-radius: 0px
                                    border-bottom-right-radius: 0px
                                    border-top-left-radius: 0px
                                    border-top-right-radius: 0px
                                    
                        .price
                            display: flex
                            justify-content: flex-end
                            padding-right: 15px
                            padding-bottom: 15px
                            a
                                color: white
                        .footer
                            position: absolute
                            display: grid
                            column-gap: 10px
                            grid-template-columns: 1fr 1fr 1fr
                            bottom: 10px
                            width: calc(100% - 20px)
                            .footer-space
                            .rightBtn
                                display: flex
                                justify-content: right
    footer
        background-color: #CCCCCC
        position: absolute
        bottom: 0px
        width: 100vw
        height: 150px
        display: flex
        align-items: center
        justify-content: center
        #poem
            font-size: 0.8rem
            display: inline-block
            width: 230px
            max-width: 100%
            text-align: center
            #author
                color: gray
                display: block
                text-align: right
#bottom-button-wrapper
    width: 100%
    position: absolute
    bottom: 5px
    left: 0px
    height: 50px
    background-color: green
    display: grid
    grid-template-columns: 1fr 90px
    .bottom-button
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        &.left
        &#new-wish-btn
            background-color: #089708
        &.right
        &#edit-list-btn
            background-color: #d1881a
        &#close-list-btn
            background-color: #b12525